.img-responsive{
    width: 100%;
    display: flex; 
    justify-content: center;
} 
.inputData{
    width: 40rem;
    height: 7rem;
    text-decoration: none;
    font-size: 40pt;
    opacity: 50%;
}
#entry{
    width: 100%;
    height:7rem;
    font-size: 40pt;
    background-color: #6565ee;
}
label{
    font-size: 60pt;
}
input{
    border: 2px solid #6565ee;
}
.alert-danger{
    font-size: 30pt;
    color: red;
}
@media(min-width: 1000px){
    .img-responsive{
        width: 60%;
        display: flex; 
        justify-content: center;
    } 
    .inputData{
        width: 20rem;
        height: 4rem; 
        font-size: 20pt;
    }
    #entry{
        width: 20rem;
        height:4rem;
        font-size: 40pt; 
    }
    label{
        font-size: 40pt; 
    }
}