<!DOCTYPE HTML>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Payment - Home</title>
    <link href="css/Home/style.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="css/bootstrap-4.5.2.min.css"> -->
    <!-- <link href="css/style.css" rel="stylesheet"> -->
</head>

<body>
    <div class="container">
        <div class="grid-container">

            <!-- <div class="grid-item">
                <a>
                    <figure>
                        <img src="images/Adega.png" class="img-responsive" alt="Adega" />
                        <figcaption>
                            Cadastrar produto
                        </figcaption>
                    </figure>
                </a>
            </div> -->
            <div class="grid-item">
                <a href="/cash">
                    <figure>
                        <img src="images/Adega.png" class="img-responsive" alt="Adega" />
                        <figcaption>
                            Caixa
                        </figcaption>
                    </figure>
                </a>
            </div>

            <div class="grid-item">
                <a href="/reports">
                    <figure>
                        <img src="images/Adega.png" class="img-responsive" alt="Adega" />
                        <figcaption>
                            Relatório
                        </figcaption>
                    </figure>
                </a>
            </div>
        </div>

        <footer class="footer">
            <div class="footer-copyright text-center py-3">© 2021 Copyright
                <p"> by Payment</p>
            </div>
        </footer>
    </div>
    <script type="text/javascript" charset="utf8" src="js/Home/home.js"></script>
</body>

</html>