body{
    font-family: 'Patrick Hand',cursive;
}
.jumbotron h1{
    font-size: 60pt;
}
.jumbotron .lead{
    font-size: 30pt;
}
.container-cash .input-group-text{
    font-size: 25pt;
}
.container-cash input{
    height: 5rem;
    font-size: 25pt;
}
#quantity{
    outline: 0;
    width: 40%;
    border: 1px solid #00000078; 
    border-radius: 0px 1rem 1rem 0px;
}
#cash-save{
    display: flex;
    margin: 0 auto;
    margin-top: 4rem;
    font-size: 3rem;
    background-color: #04044a;
}
#return-back-redo-arrow{
    width: 40px;
    margin-bottom: 30px;
}
#exit{
    text-decoration: none;
    color: black;
    font-size: 2rem;
}
.swal-title{
    font-size: 4rem;
}
.swal-text{
    font-size: 3rem;
}
.swal-button--confirm{
    font-size: 2rem;
}
#form-data{
    margin-bottom:10rem ;
}
#table_id{
    width: 100% !important;
}
#table_id thead tr{
    font-size: 3rem;
}
#table_id thead tr{
    font-size: 3rem;
}
#table_id tbody tr{
    
    font-size: 2rem;
}
.product-line{
    max-width: 15ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dt-button{
    font-size: 1.8rem;
}
.dataTables_info{
    font-size: 1.6rem;
}
.paginate_button{
    font-size: 1.6rem;
}
#table_id_filter{
    font-size: 1.8rem;
}
.nav-link{
    font-size: 2.9rem;
}
#consult{
    outline: 0;
    border-radius: 1rem;
    font-size: 2.7rem;
    background-color: #04044a;
    color: #fff;
}
#consult-link{
    text-decoration: none;
    color: #fff;
}
@media(min-width: 1000px){
    
}